/.cache
/.idea
/.DS_Store
/.claude
/build
/debug
/release
/build-mac
/frida_temp_extract_dir
/sqlite_temp_extract_dir
/third_party/frida
/third_party/sqlite
/third_party/spdlog
/third_party/libcurl/curl
/third_party/poco

/compile_commands.json
/debug.js
/debug.log
/debug.sh
/ssl.bin
